body {
    background-color: lightblue;
    text-align: center;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}

h1 {
    text-align: center;
    color: cornflowerblue;
}

nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 1.5em;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: maroon;
    text-decoration: none;
}

#rating {
    text-align: center;
}

#description {
    text-align: center;
}

#comments {
    text-align: center;
}